* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #151515;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Sen", sans-serif;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}
.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
  margin:0px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  max-width: 900px;
  color: lightgray;
  margin: 30px 0;
  font-size: 20px;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  width: 120px;
  height: 50px;
  font-size: larger;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
  margin: 0px 0px 50px 0px;
}

.movie-list-wrapper {
  position: relative;
}

.movie-list {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}
.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}
#search-results{
  width: 100%;
  display: none;
  margin-bottom: 10px;
}
@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}
#div1
{
  display: flex;
  align-items: center;
}
h1
{
  margin-top: 80px;
  margin-bottom: 80px;
}
#featured-content-div
{
  margin-top: 80px;
}
.search-results
{
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  width: 100%;
}
.movie-card
{
  color: white;
  text-shadow: 1px 1px 2px white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  width: 250px;
  height: 430px;
  border: 1px solid black;
}
.movie-card img
{
  display: block;
  margin: 25px auto 0px auto;
}
.movie-card p
{
  text-align: center;
  margin-top: 10px;
  font-size: larger;
  font-family: 'Montserrat', sans-serif;
}

.movie-list-item-title {
  background-color: #333;
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 25px;
  width: 85%;
  transition: 1s all ease-in-out;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  border-radius: 7px;
  max-height: 72px;
  overflow: hidden;
}

.movie-list-item:hover .movie-list-item-img {
  opacity: 0.2;
}

.movie-list-item-img {
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
}
.movie-list-item-desc {
  padding: 10px;
  border-radius: 7px;
  font-family: sans-serif;
  background-color: #333;
  font-size: 14px;
  position: absolute;
  top: 85px;
  left: 25px;
  width: 80%;
  transition: 1s all ease-in-out;
  line-height: 20px;
  overflow: auto;
  max-height: 110px;
  opacity: 0;
}
.movie-list-item-desc::-webkit-scrollbar
{
  display: none;
}
.movie-list-item-button {
  position: absolute;
  top: 230px;
  left: 120px;
  width: 100px;
  height: 40px;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #4dbf00;
  color: white;
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.movie-list-item
{
  position: relative;
}

.movie-list::-webkit-scrollbar
{
  width: 5px !important;
}
.movie-list.movie-list::-webkit-scrollbar-track
{
  background: #151515 !important;
  border-radius: 5px !important;
}
.movie-list::-webkit-scrollbar-thumb
{
  background: #2c2c2c !important;
  border-radius: 5px !important;
}
.movie-list::-webkit-scrollbar-thumb:hover
{
  background: #2c2c2c !important;
}
@media only screen and (min-width: 300px)
{
  #return
  {
    position: relative;
    left: -3px;
  }
  #searchInput
  {
    font-size: 20px;
    outline: none;
    height: 30px;
    width: 200px;
    border: none;
  }
  #submit-button,#return
  {
    color: white;
    background-color: #e20813;
    border: none;
    height: 30px;
    width: 60px;
  }
  #return
  {
    position: relative;
    left: -1px;
    top: -1px;
  }
  #submit-button
  {
    position: relative;
    top: -2px;
    left: -4px;
  }
}
@media only screen and (min-width: 500px)
{
  #searchInput
  {
    margin-left: 30px;
    width: 250px;
  }
  #submit-button,#return
  {
    width: 80px;
  }
  #return
  {
    position: absolute;
    left: 10px;
    top: 15px;
  }
  #submit-button
  {
    position: relative;
    left: -5px;
  }
}
@media only screen and (min-width: 700px)
{
  #searchInput
  {
    height: 40px;
    width: 250px;
  }
  #submit-button,#return
  {
    height: 40px;
    width: 80px;
  }
}
@media only screen and (min-width: 1100px)
{
  #searchInput
  {
    width: 300px;
  }
  #submit-button,#return
  {
    font-size: large;
    width: 120px;
  }
  #submit-button
  {
    top: 1px;
  }
}

@media only screen and (max-width: 600px)
{
  .featured-desc
  {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px)
{
  .featured-desc
  {
    font-size: 15px;
  }
}